
<div class="sitewide-banner">
<div id="header">
	<ul class="menu">
		<li id="home"><%=link_to 'Home', controller: 'main' %></li>
		<li id="about"><%=link_to 'About', controller: 'about' %></li>
		<li id="work"><%=link_to 'Work Experience', controller: 'work' %></li>
		<li id="projects"><%=link_to 'Projects', controller: 'projects' %></li>
		<li id="education"><%=link_to 'Education', controller: 'education' %></li>
		<li id="contact"><%=link_to 'Contact Me', controller: 'contact' %></li>
	</ul>
</div>
</div>
